@import "tailwindcss";

@custom-variant light (
  &:where([data-theme="light"], [data-theme="light"] *)
);

@theme inline{
  --font-iranSans: var(--font-iranSans);
}

@theme{
  --color-primary: #00838f;
  --animate-SiderBarOpening: moveLeft 500ms;
  @keyframes moveLeft {
    0%{
      right: -100%;
    }
    100%{
      right: 0;
    }
  }
}